@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26272b;
  font-family: 'Poppins', sans-serif;
  color: #f4f4f4;
}
a {
  color: #f4f4f4;
  text-decoration: none;
}
h1 {
  text-align: center;
  margin: 1rem;
}